[submodule "stick-no-bills-font-specimen"]
	path = stick-no-bills-font-specimen
	url = https://github.com/mooniak/stick-no-bills-font-specimen
[submodule "stick-no-bills"]
	path = stick-no-bills
	url = https://github.com/mooniak/stick-no-bills
