<!-- Grid 1/3 -->
<div id='footer'>
<div class="grid grid-pad">

<div class="col-1-4 mobile-col-1-1">
        <div class="content">
<p>Web portal of mooniak; a design, art direction and technology studio</p>
<p>keywords; graphic design, publication design, typography, typeface design, branding</p>
</p>

      </div>
</div>

            <div class="col-1-4 mobile-col-1-1">
              <h3>GRAPHIC DESIGN & Art direction</h3>

                  <a href="https://medium.com/mooniak">Case studies</a>

<br >  <a href="https://drive.google.com/open?id=0B-g8qKkrermGVlNWNmZxcVFadFk">Profile</a>
<br >
            <h3>Typography, type design & fonts</h3>
          <a href="http://textual.works">Textual</a>; a is a type foundry a type and typographic design studio.
<br >          <a href="http://textual.works/fonts">Fonts from Mooniak</a>; Sinhala and Tamil fonts from Mooniak are now avialable from Textual

          <h3>Video & animation</h3>

            <a href="http://senseimagery.com">Sense</a>; video - animation - motion graphics

        </div>


    <div class="col-1-4 mobile-col-1-1">
            {% include mailchimp.html %}

    </div>


        <div class="col-1-4 mobile-col-1-1">
          <h3>Keep in touch</h3>
          <a href="https://www.facebook.com/wearemooniak">facebook</a>// <a href="https://twitter.com/_mooniak">twitter</a>//  <a href="https://twitter.com/_mooniak">instagram</a>// <a href="https://medium.com/mooniak">medium</a>//

          <h3>Contact</h3>

          <a href="mailto:hello@mooniak.com?subject=Hi%20mooniak">hello@mooniak.com</a>
    </div>

</div>


<div class="grid grid-pad">

<div class="col-1-4 mobile-col-1-1">
<div class="content">
&copy; 2015 - {{ site.time | date: '%Y' }} mooniak (Pvt) Ltd.

</div>
</div>
</div>
    </div>
