<!DOCTYPE html>
<html>
<head>
<!--metadata -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
<meta property="fb:admins" content="1492908859" />
<meta property="og:image" content="{{ site.image }}" />
<meta property="og:title" content="{{ site.title }}" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:type" content="website" />
<meta itemprop="name" content="{{ site.title}}">
<meta itemprop="description" content="{{ site.description }}">
<meta itemprop="image" content="{{ site.image }}">
<meta name="flattr:id" content="nwqk7z">

<!--stylesheets-->
<link href='http://fonts.googleapis.com/css?family=Montserrat:700|Karla:400,700' rel='stylesheet' type='text/css'><link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/simplegrid.css">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/modernizer.2.6.2.custom.min.js"></script>
</head>
<body class="home">
