<!DOCTYPE html>
<html>
<head>
<!--metadata -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=1000">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="Pathum Egodawatta www.mooniak.com" />
<title>{{ site.title_tag_text }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A multidisciplinary collaborative design practice from Colombo. සමාජ කේන්ද්‍රීය නිර්මාණකරුවන් පිරිසකගේ ගේ එකතුවක්…">
<meta name="author" content="">
<meta property="fb:admins" content="1492908859" />
<meta property="og:image" content="http://mooniak.com/amma/images/avatar.png" />
<meta property="og:title" content="{{ site.title_tag_text }}" />
<meta property="og:description" content="A multidisciplinary collaborative design practice from Colombo. සමාජ කේන්ද්‍රීය නිර්මාණකරුවන් පිරිසකගේ ගේ එකතුවක්…" />
<meta property="og:site_name" content="{{ site.title_tag_text }}" />
<meta property="og:type" content="website" />
<meta itemprop="name" content="{{ site.title_tag_text }}">
<meta itemprop="description" content="A multidisciplinary collaborative design practice from Colombo. සමාජ කේන්ද්‍රීය නිර්මාණකරුවන් පිරිසකගේ ගේ එකතුවක්…">
<meta itemprop="image" content="">
<link rel="shortcut icon" href="/images/mooniak_logo.png">
<title>{{ site.title_tag_text }}</title>
 
<!--stylesheets-->
<link href='http://fonts.googleapis.com/css?family=Montserrat:700|Karla:400,700' rel='stylesheet' type='text/css'><link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/syntax.css">
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/simplegrid.css">
<link rel="stylesheet" type="text/css" media="all" href="css/styl.css">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/modernizer.2.6.2.custom.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</head>
<body class="home">