@CHARSET "ISO-8859-1";

/* Reset CSS
 * --------------------------------------- */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
table {
    border-spacing: 0;
}
fieldset,
img {
    border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: normal;
    font-style: normal;
}
strong {
    font-weight: bold;
}
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
caption,
th {
    text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #444;
}
q:before,
q:after {
    content: '';
}
abbr,
acronym {
    border: 0;
}
/* Fonts
 * --------------------------------------- */


/* Webfont: NidahasFMAbhaya-Bold */@font-face {
    font-family: 'NidahasFMAbhaya';
    src: url('../fonts/NidahasFMAbhaya/NidahasFMAbhaya-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NidahasFMAbhaya/NidahasFMAbhaya-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/NidahasFMAbhaya/NidahasFMAbhaya-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/NidahasFMAbhaya/NidahasFMAbhaya-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/NidahasFMAbhaya/NidahasFMAbhaya-Bold.svg#NidahasFMAbhaya-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: NidahasFMAbhaya-Regular */@font-face {
    font-family: 'NidahasFMAbhaya';
    src: url('../fonts/NidahasFMAbhaya/NidahasFMAbhaya-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NidahasFMAbhaya/NidahasFMAbhaya-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/NidahasFMAbhaya/NidahasFMAbhaya-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/NidahasFMAbhaya/NidahasFMAbhaya-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/NidahasFMAbhaya/NidahasFMAbhaya-Regular.svg#NidahasFMAbhaya-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: NotoSansSinhala */@font-face {
    font-family: 'NotoSansSinhala';
    src: url('../fonts/NotoSansSinhala/NotoSansSinhala.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NotoSansSinhala/NotoSansSinhala.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/NotoSansSinhala/NotoSansSinhala.woff') format('woff'), /* Modern Browsers */
         url('../fonts/NotoSansSinhala/NotoSansSinhala.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/NotoSansSinhala/NotoSansSinhala.svg#NotoSansSinhala') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    
}

/* Webfont: NotoSansSinhala-Bold */@font-face {
    font-family: 'NotoSansSinhala';
    src: url('../fonts/NotoSansSinhala/NotoSansSinhala-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NotoSansSinhala/NotoSansSinhala-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/NotoSansSinhala/NotoSansSinhala-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/NotoSansSinhala/NotoSansSinhala-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/NotoSansSinhala/NotoSansSinhala-Bold.svg#NotoSansSinhala-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: OtherLetter-Regular */@font-face {
    font-family: 'OtherLetter';
    src: url('OtherLetter-Regular.eot'); /* IE9 Compat Modes */
    src: url('OtherLetter-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('OtherLetter-Regular.woff') format('woff'), /* Modern Browsers */
         url('OtherLetter-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OtherLetter-Regular.svg#OtherLetter-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@import url(http://fonts.googleapis.com/css?family=Cabin:400,500,700,400italic);




/* Custom CSS
 * --------------------------------------- */

body {
    font-family: 'Cabin', sans-serif;
    color: #333;
    color: rgba(0, 0, 0, 0.5);
    
}
.wrap {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
}
h1 {
    font-size: 6em;
    
}
h2 {
    font-size: 3em;
}
p {
    font-size: 2em;
}
.intro p {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}
.section {
    text-align: center;
}
#menu li {
    display: inline-block;
    margin: 10px;
    color: #000;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#menu li.active {
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}
#menu li a {
    text-decoration: none;
    color: #000;
}
#menu li.active a:hover {
    color: #000;
}
#menu li:hover {
    background: rgba(255, 255, 255, 0.8);
}
#menu li a,
#menu li.active a {
    padding: 9px 18px;
    display: block;
}
#menu li.active a {
    color: #fff;
}
#menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;
}
ul{
list-style: square;
    text-align: left;
}

/* Unicode Table
-----------------------------------------*/

div.row {
    clear: both;
    float: none;
    width: 960px;
    overflow: hidden;
    border-top: 1px solid #e0e0e0;
    padding: 0;
    white-space: nowrap;
    margin: auto;
}
div.u {
    float: left;
    text-align: center;
    width: 60px;
    padding: 16px 0px 4px 0px;
}
div.u tt {
    display: block;
    text-transform: uppercase;
    color: #666;
    font-family: 'Inconsolata', Lucida Console, Monaco, monospace !important;
    font-size: 11px;
    line-height: 10px;
    font-style: normal;
    padding-bottom: 10px;
}
div.u span {
    font-size: 25pt;
    height: 44px;
    display: block;
}
table.unicode {
    font-size: 9pt;
    border-collapse: collapse;
    margin-top: 10px;
}
table.unicode td {
    vertical-align: middle;
    padding: 1px 0px 1px 0px;
}
table.unicode td.space {
    padding: 1px 60px 1px 60px;
}
div.utop form {
    padding-top: 12px;
    float: right;
}
div.utop h1 {
    padding: 6px 0px 6px 0px;
}
div.ubottom {
    border-top: 1px solid #e0e0e0;
}
div.ubottom form {
    padding-top: 7px;
    float: right;
}


#stephe {
max-width: 600px;
    display: block;
    margin: 0 auto;
}

#stephe p {
    width: 100%;
    margin: 0 auto;
    font-size: 1.1em;
}

#stephe ul{
list-style:circle;
    text-align: left;
    margin-left: 20px;
}