/* Yakkala Font */
@font-face {
  font-family:"Yakkala";
  src:url("https://arweave.net/3jX5fIdi2zIui9vb0OQ4XnWBlGjjAX7k6kRrcMGZTNQ") format("woff2");
  font-style:normal;
  font-weight:400;
}

body {

  font-family:"Yakkala";

}

h4, nav, footer {
  font-family:"Yakkala";

}

.subtitle {
  font-size: 36px;
  line-height: 1.25;
  font-family:"Yakkala";
  font-weight: 0;

}
