{% include html_start.html %}
{% include nav.html %}

{{ content }}

<script>
$(document).ready(function(){
  $('html').mousemove(function(e){
        var x = (e.pageX + this.offsetLeft) / 60;
        var y = -(e.pageY + this.offsetTop) / 70;
        $('.mooniak-logo-big').css({'top': x +80 ,'left': y +80 });
  });
});

$(document).ready(function(){
  $('html').mousemove(function(e){
        var x = -(e.pageX + this.offsetLeft) / 100;
        var y = (e.pageY + this.offsetTop) / 70;
        $('.mooniak-logo-small').css({'top': x +80 ,'left': y +80 });
  });
});

 </script>
 {% include footer.html %}

</body>
</html>
