{% include html_start.html %}
<div class="container">

<div class="grid grid-pad">
    <div class="col-1-4 mobile-col-1-1">
      <img src="images/mooniak_logo.svg">
    </div></div>


    <div class="grid grid-pad">


    <div class="col-1-4 push-1-4 mobile-col-1-1">
    <h2> A collective of creatives and makers. Design, art direction, typography and technology. </h2>
      </h2>
      keywords; graphic design, publication design, multilingual, typography, typeface design, branding, digital marketing
      <br >
      <br >

<h3>Updates</h2>

  {% include latest.html %}

    </div>
    <div class="col-1-4 mobile-col-1-1">
      <h3>GRAPHIC DESIGN & Art direction</h3>
          <a href="https://www.behance.net/mooniak">Portfolio</a><br >
          <a href="https://medium.com/mooniak">Case studies</a><br >
          <a href="https://drive.google.com/open?id=0B-g8qKkrermGVlNWNmZxcVFadFk">Profile</a><br >
    <h3>Typography, type design & fonts</h3>
    Mooniak specilise in  typography and type design.
    <br >          <a href="http://mooniak.com/fonts">Fonts from Mooniak</a>; Sinhala and Tamil fonts from Mooniak are now avialable here.

    <h3>Video & animation</h3>

    <a href="http://senseimagery.com">Sense</a>; video - animation - motion graphics
    </div>
</div>

</div>

{{ content }}
</body>
</html>
