{% include html_start.html %}
{% include nav.html %}
<div class="grid grid-pad">

<div class="col-1-3  mobile-col-1-1">
<h2>
We appriciate your interest in our projects!
<br />
<br />
Currently following font projects are in development and you can recive updates on development, screencasts and test versions;
<br />
<br />
{{ content }}
</h2>
<p>
<strong>
  NOTE:
</strong>
These fonts are development and test versions and not reccemoneded for production use.
</p>

<div class="highlight-box">
{% include mailchimp.html %}
<div>
{% include scripts.html %}
</div></div> </div></div>

</body>
</html>
